- action = controller.action_name
- if action == "new"
  - path = estimates_path
- else
  - path = estimate_path(@estimate)


= form_with model: @estimate, url: path, local: true do |f|

  table
    tr
      th <label>顧客名</label>
      td= f.collection_select :customer_id, Customer.where(is_deleted: false).order(id: :asc), :id, :customer_name, class: 'form-control'
    tr
      th= f.label :customer_person
      td= f.text_field :customer_person, class: 'form-control', id: 'customer_person'

    tr
      th= f.label :estimate_id
      td= f.text_field :estimate_id, class: 'form-control', id: 'estimate_id', readonly: true

  br

  = link_to_add_association '行追加', f, :estimate_details,
          class: 'btn-outline-info', id: 'add_row',
      data: {association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'append' }

  table.table.table-bordered#detail-association-insertion-point
    thead.thead-default
      thead
        tr
          th= EstimateDetail.human_attribute_name(:estimate_detail_id)
          th= EstimateDetail.human_attribute_name(:product_name)
          th= EstimateDetail.human_attribute_name(:detail)
          th= EstimateDetail.human_attribute_name(:quantity)
          th= EstimateDetail.human_attribute_name(:kind)
          th= EstimateDetail.human_attribute_name(:unit_price)
          th= EstimateDetail.human_attribute_name(:total_fee)
          th= EstimateDetail.human_attribute_name(:tax)
          th= EstimateDetail.human_attribute_name(:tax_amount)
          th= EstimateDetail.human_attribute_name(:delivery_period)
          th <label>仕入先名</label>
          th
      tbody
        = f.fields_for :estimate_details do |d|
          = render 'estimate_detail_fields', f: d

  = f.submit nil, class: 'btn btn-primary'

javascript:
    var rows = 1;
    var total_fee = 0;
    var tax = 0;
    var tax_amount = 0;

    $(document).ready(function () {
        $("#estimate_detail_id").val(1);
        setId();
    });

    $(function () {
        $(document).on('keyup change','.quantity,.unit_price', function () {
            total_fee = $('#quantity').val() * $('#unit_price').val();
            tax = total_fee * 0.1;
            tax_amount = total_fee + tax;
            $('#total_fee').val(total_fee);
            $('#tax').val(Math.ceil(tax));
            $('#tax_amount' ).val(Math.ceil(tax_amount));
            rows = $("#detail-association-insertion-point tbody").children().length;
          for (var i = 1; i <= rows; i++) {
            total_fee = $('#quantity' + i).val() * $('#unit_price' + i).val();
            tax = total_fee * 0.1;
            tax_amount = total_fee + tax;
            $('#total_fee' + i).val(total_fee);
            $('#tax' + i).val(Math.ceil(tax));
            $('#tax_amount' + i).val(Math.ceil(tax_amount));
          }
        });
    });

    $(function () {
        $(document).on("click", "#add_row", function () {
            setId();
        });
    });

    //IDをセット
    function setId() {
        $(".estimate_detail_id").each(function (index) {
            $(this).attr("id", "estimate_detail_id" + (index + 1)).val(index + 1);
        });
        $(".quantity").each(function (index) {
            $(this).attr("id", "quantity" + (index + 1));
        });
        $(".unit_price").each(function (index) {
            $(this).attr("id", "unit_price" + (index + 1));
        });
        $(".total_fee").each(function (index) {
            $(this).attr("id", "total_fee" + (index + 1));
        });
        $(".tax").each(function (index) {
            $(this).attr("id", "tax" + (index + 1));
        });
        $(".tax_amount").each(function (index) {
            $(this).attr("id", "tax_amount" + (index + 1));
        });
    }