form
= form_with model: vendor, local: true do |f|
  table.table.table-bordered
    tr
      .form_group
        th= f.label :vendor_name
        td= f.text_field :vendor_name, class: 'form-control', id: 'vendor_name'
    tr
      .form_group
      th= f.label :vendor_name_kana
      td= f.text_field :vendor_name_kana, class: 'form-control', id: 'vendor_name_kana'
    tr
      .form_group
      th= f.label :postal_code
      td= f.text_field :postal_code, class: 'form-control', id: 'postal_code'
    tr
      .form_group
      th= f.label :address
      td= f.text_field :address, class: 'form-control', id: 'address'
    tr
      .form_group
      th= f.label :tel
      td= f.text_field :tel, class: 'form-control', id: 'tel'
    tr
      .form_group
      th= f.label :fax
      td= f.text_field :fax, class: 'form-control', id: 'fax'

  = f.submit '登録', class: 'btn btn-primary'
