/*
*= require_tree .
*= require_self
 */

@import "bootstrap";

h2 {
  text-align: center;
}

//index
th, .toc {
  text-align: center;
  vertical-align: middle;
}



div.form-group {
  text-align: center;
}

