//フォーム
table#detail-association-insertion-point{
  border-collapse: collapse;
  cellpadding: 0;
  cellspacing: 0;
  width: auto;
}
.product_name, .detail{

}

.estimate_detail_id{
  text-align: right;

}

.kind, .quantity, .delivery_period{
  text-align: center;
}
.unit_price, .total_fee, .tax, .tax_amount{
  text-align: right;
}

tbody.nested-fields{
  td{
    border-top-style: none;
    border-bottom-style: none;
  }
}
